* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: white;
}

body {
  background-color: #121212;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  font-weight: 800;
}

p {
  font-weight: 300;
}

h3 {
  font-weight: 700;
}

/* Current Team Display */
span {
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: ripple 0.5s ease-in-out 0s 1 forwards;
  z-index: 4;
}

@keyframes ripple {
  0%
  {
    background-color: rgba(255, 255, 255, 0.15);
    width: 0;
    height: 0;
    opacity: 0.2;
  }
  100%
  {
    background-color: rgba(255, 255, 255, 0.8);
    width: 500px;
    height: 500px;
    opacity: 0.2;
  }
}

#current-team {
  margin: auto;
  width: 800px;
  text-align: center;
  padding: 20px;
}

#party {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

#party:hover > .party-spot > .spot-border {
  opacity: 1;
}

.party-spot {
  position: relative;
  flex: 1;
  max-width: 200px;
  aspect-ratio: 1/1;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.party-spot:hover::before {
  opacity: 1;
}

.party-spot::before,
.party-spot > .spot-border {
  border-radius: inherit;
  content: "";
  position: absolute;
  height: 100%;
  left: 0px;
  top: 0px;
  width: 100%;
  opacity: 0;
  transition: opacity 500ms;
  z-index: 2;
}

.party-spot::before {
  background: radial-gradient(
    300px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.party-spot > .spot-border {
  background: radial-gradient(
    150px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.3),
    transparent 40%
  );
  z-index: 1;
}

.party-spot > .spot-content {
  background-color: rgb(33, 33, 33);
  border-radius: inherit;
  margin: 1px;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  position: relative;
  z-index: 2;
}

.party-sprite {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#manage-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.manage-btn {
  display: block;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  padding-top: 5px;
  background-color: rgb(100, 100, 100);
  cursor: pointer;
}

/* Pokemon Information Panel */
#pokemon-information {
  height: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

#general-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  column-gap: 2vh;
}

#type-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6rem;
}

#type-info > p {
  display: block;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  padding-top: 5px;
}

.type-normal {
  background-color: #A8A77A;
}

.type-fire {
  background-color: #EE8130;
}

.type-water {
  background-color: #6390F0;
}

.type-electric {
  background-color: #F7D02C;
}

.type-grass {
  background-color: #7AC74C;
}

.type-ice {
  background-color: #96D9D6;
}

.type-fighting {
  background-color: #C22E28;
}

.type-poison {
  background-color: #A33EA1;
}

.type-ground {
  background-color: #E2BF65;
}

.type-flying {
  background-color: #A98FF3;
}

.type-psychic {
  background-color: #F95587;
}

.type-bug {
  background-color: #A6B91A;
}

.type-rock {
  background-color: #B6A136;
}

.type-ghost {
  background-color: #735797;
}

.type-dragon {
  background-color: #6F35FC;
}

.type-dark {
  background-color: #705746;
}

.type-steel {
  background-color: #B7B7CE;
}

.type-fairy {
  background-color: #D685AD;
}

#pokemon-stats {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  left: 25%;
}

.stat-block {
  display: flex;
  flex-direction: row;
}

.stat-name-holder {
  width: 20%;
  border-right: 1px solid white;
}

.stat-name {
  text-align: right;
  margin-right: 1rem;
}

.stat-bar-length {
  flex-grow: 1;
  margin-left: 1rem;
}

.stat-bar {
  height: 40%;
  border-radius: 2px;
  position: relative;
  top: 25%;
  transition: width 0.5s ease-in-out;
}

.block-hp {
  background-color: #30b81c;
}

.block-attack {
  background-color: #f5e211;
}

.block-defense {
  background-color: #d97b09;
}

.block-spattack {
  background-color: #10a3de;
}

.block-spdefense {
  background-color: #8b0acc;
}

.block-speed {
  background-color: #eb44ab;
}

#button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

#button-container > p {
  display: block;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  padding-top: 5px;
  cursor: pointer;
}

#add-btn {
  background-color:#30b81c
}

#remove-btn {
  background-color:#C22E28
}

/* Available Pokemon Display */
#display-container {
  margin-top: 3rem;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 2vw;
  padding-right: 2vw;
}

#generation-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.generation-btn {
  display: block;
  background-color: rgb(33, 33, 33);
  cursor: pointer;
  width: 6vw;
  height: 3vh;
  border-radius: 5px;
  position: relative;
}

.generation-btn > p {
  position: relative;
  top: -25%;
}

.btn-overlay {
  width:100%;
  height:100%;
  position: absolute;
  top: 0;
  z-index: 1;
  border-radius: 5px;
}

.inactive-btn {
  background-color: rgb(0, 0, 0, 0.8);
  transition: background-color 0.5s ease-in-out;
}

.active-btn {
  background-color: rgb(0, 0, 0, 0);
  transition: background-color 0.5s ease-in-out;
}

#available-pokemon {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  row-gap: 10px;
  gap: 10px;
}

.pokemon-display {
  flex-basis: 10%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transform: scale(0);
}

.display-background {
  width: 100%;
  height: 100%;
  background-color: rgb(33, 33, 33);
  position: absolute;
  z-index: 1;
  top: 0;
  border-radius: 10px;
}

.grown {
  animation: grow 0.8s ease-in-out 0.1s 1 forwards;
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  80%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1.0);
  }
}

.empty {
  background-color: rgba(0, 0, 0, 0);
}

.game-sprite {
  width: 75px;
  position: relative;
  top: 25%;
  z-index: 2
}

.pokemon-display:hover > .overlay {
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    z-index: 3;
    border-radius: 10px;
    animation: fade 0.15s ease-in-out 0s 1 forwards;
}

.hover-name-text {
  position: relative;
  top: -37.5%;
  z-index: 4;
  opacity: 0;
}

.pokemon-display:hover > .hover-name-text {
  opacity: 1;
  transition: opacity 0.2s;
}

@keyframes fade {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color:rgba(0, 0, 0, 0.7);
  }
}

.select-effect {
  width: 0;
  height: 0;
  position: absolute;
  top: -1.5px;
  left: -1.5px;
  background-color: rgba(205, 205, 205, 0.4);
  z-index: -1;
  border-radius: 10px;
}

.selected {
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  transition: all 0.1s ease-in-out;
  animation: shine 0.1s ease-in-out 0.1s 1 forwards;
}

@keyframes shine {
  0% {
    background-color: rgba(205, 205, 205, 0.4);
  }
  100% {
    background-color: rgba(255, 255, 255, 1);
  }
}